<?xml version="1.0"?>

<model>
  <name>DigilabKRFence</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ander González Tomé</name>
    <email>ander.gonzalez@ikerlan.es</email>
  </author>

  <description>
    The fencing of the site where the KUKA KR300 is at IKERLAN Digilab .
  </description>
</model>
