<?xml version="1.0"?>

<model>
  <name>DigilabRollup</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ander González Tomé</name>
    <email>ander.gonzalez@ikerlan.es</email>
  </author>

  <description>
    One of the rollups at IKERLAN Digilab.
  </description>
</model>
